In [7]:
import pandas as pd

In [2]:
import sys
sys.path.append('../util')

from util import read_spreadsheet

In [3]:
df = read_spreadsheet(sheet_id="1-WuaaWKIHJfGQhDXVSwG-v2qGqxQYVqqk7lFeHyxEzk")

In [13]:
df = pd.read_csv('original_duration.csv')

In [14]:
df['time'] = df['Original Duration']

In [15]:
# Convert to datetime, forcing errors to NaT (Not a Time)
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S', errors='coerce')

In [16]:
# Identify rows where time conversion failed (invalid format)
df['is_valid_format'] = df['time'].notna()

# Identify rows where hours are greater than 00
df['hours_greater_than_zero'] = df['time'].apply(lambda x: x.hour > 0 if pd.notna(x) else False)

In [17]:
# Filter rows where format is invalid or hours are greater than 00
filtered_df = df[~df['is_valid_format'] | df['hours_greater_than_zero']]

In [19]:
print(filtered_df)
filtered_df.to_csv('filtered_duration.csv', index=False)

     Original Duration                time  is_valid_format  \
182           00:16.40                 NaT            False
198           01:02:49 1900-01-01 01:02:49             True
234           01:16:06 1900-01-01 01:16:06             True
252           01:07:49 1900-01-01 01:07:49             True
253           01:09:05 1900-01-01 01:09:05             True
290           01:00:10 1900-01-01 01:00:10             True
313           01:31:05 1900-01-01 01:31:05             True
484           01:56:35 1900-01-01 01:56:35             True
485           01:10:43 1900-01-01 01:10:43             True
486           01:11:55 1900-01-01 01:11:55             True
512           01:53:49 1900-01-01 01:53:49             True
528           01:29:03 1900-01-01 01:29:03             True
548           01:01:07 1900-01-01 01:01:07             True
569           01:29:56 1900-01-01 01:29:56             True
570           01:26:26 1900-01-01 01:26:26             True
616           01:16:12 1900-01-01 01:16:12             True
675           00:26.39                 NaT            False
697           01:03:51 1900-01-01 01:03:51             True
740           01:05:50 1900-01-01 01:05:50             True
765           01:03:17 1900-01-01 01:03:17             True
767           01:02:07 1900-01-01 01:02:07             True
859           01:14:54 1900-01-01 01:14:54             True
881           00:06;10                 NaT            False
951           O1:15:23                 NaT            False
956           00.21.47                 NaT            False
974           00:10;53                 NaT            False
1103          01:21:35 1900-01-01 01:21:35             True
1130          00;17:06                 NaT            False
1139             10:53                 NaT            False
1237          01:00:09 1900-01-01 01:00:09             True
1262          01:21:00 1900-01-01 01:21:00             True
1266          01:20:51 1900-01-01 01:20:51             True
1342          00:05;32                 NaT            False
1553          01:00:23 1900-01-01 01:00:23             True
1554          01:00:25 1900-01-01 01:00:25             True
1580          01:22:43 1900-01-01 01:22:43             True
1585          01:23:28 1900-01-01 01:23:28             True
1602             00:15                 NaT            False
1612          00:07;33                 NaT            False
1709          01:26:43 1900-01-01 01:26:43             True

      hours_greater_than_zero
182                     False
198                      True
234                      True
252                      True
253                      True
290                      True
313                      True
484                      True
485                      True
486                      True
512                      True
528                      True
548                      True
569                      True
570                      True
616                      True
675                     False
697                      True
740                      True
765                      True
767                      True
859                      True
881                     False
951                     False
956                     False
974                     False
1103                     True
1130                    False
1139                    False
1237                     True
1262                     True
1266                     True
1342                    False
1553                     True
1554                     True
1580                     True
1585                     True
1602                    False
1612                    False
1709                     True

In [10]:

import pandas as pd
# Function to convert HH:MM:SS to total seconds
def convert_to_seconds(time_str):
    if pd.isna(time_str) or not str(time_str).strip(): 
        print(time_str) # Check for NaN, None, or empty string
        return 0  # Treat empty or NaN time as 0 seconds
    h, m, s = map(int, str(time_str).split(':'))  # Ensure time_str is a string before splitting
    return h * 3600 + m * 60 + s

In [11]:
# Convert all time durations to seconds and sum them
total_seconds = sum(convert_to_seconds(td) for td in duration)

# Convert the total seconds back to HH:MM:SS format
hours = total_seconds // 3600
minutes = (total_seconds % 3600) // 60
seconds = total_seconds % 60

# Format the result as HH:MM:SS
total_duration_str = f"{hours:02}:{minutes:02}:{seconds:02}"

print(f"Total Duration: {total_duration_str}")

nan
nan
nan
Total Duration: 174:37:21